<!doctype  html>
<html  lang="ru">
<head>
<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<title>Ведомость</title>
</head>
<body>
  <div  class="container">
	  <ul class="list-group">
		<form method="POST" action="{% url 'save' %}">
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit">Сохранить</button>
		</form>
	  </ul>
	  <form action ="{% url 'loggout' %}">
	  <button type= "submit" class="btn btn-primary">Выйти</button>
      </div>
  </div>
</body>
</html>