<!doctype  html>
<html  lang="ru">
<head>
<link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
<title>Ведомость</title>
</head>
<body>
	<div  class="container">
		<ul class="list-group">
			<li class="list-group-item">
				<form method="POST" action="{% url 'save' %}">
					{% csrf_token %}
					{{ formset.management_form }}
					<table>
						{% for form in formset %}
						{{ form }}
						{% endfor %}
					</table>
					<button type="submit" class="btn btn-primary">Сохранить</button>
				</form>
			</li>
			<li class="list-group-item">
				<form action ="{% url 'vedomlist' %}">
					<button type= "submit" class="btn btn-primary">Вернуться к списку ведомостей</button>
				</form>
			</li>
			<li class="list-group-item">
				  <form action ="{% url 'loggout' %}">
					<button type= "submit" class="btn btn-primary">Выйти</button>
				  </form>
			</li>
		</ul>
	</div>
</body>
</html>